{% extends 'proyectoMainBundle::layout.html.twig' %}

{% block main_content -%} 
    <h1>Ingresar nuevo tratamiento </h1>

    {{ form(form) }}

        <ul class="tabla_encabezado">
    <li>
        <a href="{{ path('proyecto_tratamiento') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
